<h2>Bienvenue</h2>

<%= link_to 'Inscription', new_user_registration_path %>
<%= link_to 'Connection', new_user_session_path %>
<%= link_to 'Deconnection',  destroy_user_session_path, method: :delete %>